<!DOCTYPE html>
<html lang="pt" layout:decorate="~{/layouts/layout}">

<head>
<meta charset="UTF-8">
<title>Busca de Usuários</title>

</head>

<body>

	<section layout:fragment="corpo">
	<div>
		<div th:replace="fragments/mensagens"></div>
		<div id="divForm" class="container"
			style="padding-top: 10px; padding-bottom: 10px;">
			<form th:action="@{/usuarios/buscarUsuarios}" method="get">
				<fieldset>
					<legend style="font-weight: bold;"> Busca de todos Cadastros </legend>
				</fieldset>
				<table>
					<tr>

						<input type="hidden" th:name="tipoBusca" value="true" />
						<!--<td>Nome:</td>
        <td>
        <input type="text" th:name="nome"/>
        
        </td>-->

					</tr>

					<tr>
						<td></td>
						<td><input type="submit" value="Buscar" /> <input
							type="submit" value="Cancelar"
							formaction="/usuarios/paginaUsuario" formmethod="get" /></td>
					</tr>

				</table>

			</form>
		</div>

		<br /> <br />
		<div class="container"
			th:if="${not #lists.isEmpty(usuariosEncontrados)}"
			style="width: 70%;">
			<table class="table table-striped">

				<tr>
					<th>Foto</th>
					<th>Nome</th>
					<th>Email</th>
					<th>Telefone</th>

				</tr>

				<tr th:each="u : ${usuariosEncontrados}">
					<td>
						<img th:if="${u.foto != null}" 
							th:src="@{/download/} + ${u.foto.id} + '?salvar=false'"
							style="max-height:128px;"/>
					</td>
					<td th:text="${u.nome}"></td>
					<td th:text="${u.email}"></td>
					<td th:text="${u.tel}"></td>
				</tr>

			</table>
		</div>
	</div>
	</section>
</body>
</html>