<!DOCTYPE html>
<html lang="pt"
   xmlns="http://www.w3.org/1999/xhtml"
   xmlns:th="http://www.thymeleaf.org"
   xmlns:layout="http://www.ultraq.net.nz/thymeleaft/layout">
   
<head>
<meta charset="UTF-8">
<title>Cadastro de Clientes</title>
<meta http-equiv="X-UA-Compatible" content= "IE=edge" />
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no"/>

<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>

<style>
	
	body{
	
	background-color:#FFF0F5;
	}
#divForm {
	 width: 100%;
	 height:50%;
	 background-color: white;

	}
	img{
	text-align: center;
	margin: 0 auto;
	top:0;
	}
	#butao{
	text-align: center;
	}
  ul li{
  display: inline-block;
  
  }
  
  #imgTopo {
	  position: absolute;
	  z-index: 1;
	}
	
  .profile-area{
padding: 80px 0;
}
.card{
box-shadow:0  0 30px rgba(0,0,0,0.5);
overflow:hidden;
border-radius:15px;
}
.img1 img{
height:200px;
border-top-right-radius:15px;
border-top-left-radius:15px;
width:100%;
}

#navBar{
	font-size: 20px;
	}

.main-text{
padding:30px 0;
text-align:center;
}
.main-text h2{
text-transform:uppercase;
font-weight:900;
font-size:20px;
margin: 0 0 20px;
}
.main-text p{
font-size:16px;
padding:0 35px;}

	</style>
</head>
<body>
<div style="background-color: white;">
<table>
<tr>
<td><img  id="imgTopo" src="/imagens/cobertura5.png" title="decoração" style="width: 1347px; height: 70px;"/></td>
</tr>
</table>
  <nav id="navBar" class="navbar navbar-expand-lg navbar-white bg-white" style="padding-top: 35px;" >
 
 <div class="container-fluid">
 
   <a class="navbar-brand" href="/usuarios/cadastro">
    <img src="/imagens/loosorvete4.png" alt="" width="200" height="44" class="d-inline-block align-text-top">
   </a>
   <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
     <span class="navbar-toggler-icon"></span>
   </button>
   <div class="collapse navbar-collapse" id="navbarSupportedContent">
     <ul class="navbar-nav me-auto mb-2 mb-lg-0">
       <li class="nav-item">
         <a class="nav-link active" aria-current="page" href="/usuarios/cadastro" style="margin-top: 10px;" >Início</a>
       </li>
       <li class="nav-item">
         <a class="nav-link" href="/usuarios/cadastro/quemSomos" style="margin-top: 10px;">Quem somos?</a>
       </li>
       <li class="nav-item">
         <a class="nav-link" href="/pedidos/" style="margin-top: 10px;">Faça seu pedido (clique aqui!)</a>
       </li>
       <li class="nav-item dropdown" >
         <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false" style="margin-top: 10px;">
           Opções
         </a>
         <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
           <li><a class="dropdown-item" href="/usuarios/busca">Buscar Cadastros</a></li>
           <li><a class="dropdown-item" href="/usuarios/remove">Cancelar Cadastros</a></li>
            <li><a class="dropdown-item" href="/usuarios/edicao">Editar Cadastros</a></li>
         </ul>
       </li>
     </ul>
   </div>
 </div>
</nav>
</div>

  <div class="alert alert-danger" role="alert">
			  <h4 class="alert-heading">Seja bem-vindo(a) a nossa Sorveteria!</h4>
			  <p>
			  	Sinta-se à vontade para explorar nosso site! Sua presença nos alegra muito.
			  	<span class="badge bg-success">Volte sempre!</span>
			  </p>
			  
			</div>
			<table><tr> <td><img src="/imagens/carro.png"  width="400" height="400"></td>
			
			<td>


<div th:if="${msgSucesso} != null">
   <b th:text="${msgSucesso}" style="color:blue;"> </b>
   <br/> <br/>
</div>
<div th:if="${msgErro} != null">
   <b th:text="${msgErro}" style="color:red;"> </b>
   <br/> <br/>
</div>
<div id="divForm" class="container">
<div th:if="${msgsErro} != null">
  <ul>
   <li th:each="m : ${msgsErro}"> 
   <b th:text="${m}" style="color:red;"></b>
   </li>
  </ul>

</div>

<center>
 <form th:action="@{/usuarios/salvar}"  th:object="${usuario}"
 method="post" style=" padding-top: 10px; padding-bottom:10px;">
  <div th:if="${#fields.hasAnyErrors()}">
 <ul>
   <li th:each="error : ${#fields.detailedErrors()}">
   <b th:text="${error.message}" style="color:red;"></b>
   </li>
 </ul>
 </div>

 <h3>Cadastro de Cliente</h3>
 <input type="hidden" th:field="${usuario.id}"/>
   
     <div class="row mb-3">
    <label class="col-sm-2 col-form-label" style="width:50px;">Nome</label>
    <div class="col-sm-10" >
      <input type="text" class="form-control" style="width:300px;" th:field="${usuario.nome}">
    </div>
    </div>
        
   <div class="row mb-3">
    <label for="inputEmail3" class="col-sm-2 col-form-label" style="width:50px;">Email</label>
    <div class="col-sm-10">
      <input type="email" class="form-control"style="width:300px;" th:field="${usuario.email}" id="inputEmail3">
    </div>
    </div>
    
    <div class="row mb-3">
    <label for="inputPassword3" class="col-sm-2 col-form-label" style="width:50px;" >Senha</label>
    <div class="col-sm-10">
      <input type="password" class="form-control" style="width:300px;"th:field="${usuario.senha}" id="inputPassword3">
    </div>
  </div>
  
   
      
     
      <div class="row mb-3">
    <label class="col-sm-2 col-form-label" style="width:50px;">Tel.</label>
    <div class="col-sm-10" >
      <input type="text" class="form-control" style="width:300px;" th:field="${usuario.tel}">
    </div>
    </div>
     
       <div id="butao" class="container">
    
     <input type="submit" class="btn btn-primary" value="Cadastrar"/>
      
      <input type="submit" class="btn btn-primary" style="text-align:center" value="Cancelar"
      formaction="/usuarios/cadastro" formmethod="get"/>
   
      </div>
      </div>
    
 

 </center>
 </div>

 </tr></table>



<div class="profile-area">
   <div class="container">
   <div class="row">
    <div class="col-md-4">
    <div class="card">
    <div class="img1"><img src="/imagens/celular.jpg" class="card-img-top" alt=""></div>
   
    <div class="main-text">
    <h2> Site</h2>
    
    <p>
    Este site foi criado especialmete pensando na praticidade do cliente e melhor atendimento, obrigada por usar nossa plataforma estamos felizes pela visita.
    </p>     
    
    </div>
    </div>
    
    
   </div>
     <div class="col-md-4">
    <div class="card">
    <div class="img1"><img src="/imagens/carrorosa.jpg" class="card-img-top" alt=""></div>
    
    <div class="main-text">
    <h2> Entrega</h2>
   
    <p>
    Seu pedido foi embalado com muito cuidado e refrigerado na temperatura ideal, para que não haja nenhuma danificação no produto a entrega é feita de carro.
    </p>     
    
    </div>
    </div>
   </div>
     <div class="col-md-4">
    <div class="card">
    <div class="img1"><img src="/imagens/relogiorosa.jpg" class="card-img-top" alt=""></div>
   
    <div class="main-text">
    <h2> Tempo de espera</h2>

    <p>
    Sua entrega chegará em no máximo 30 minutos, caso não ocorra seu dinheiro será reembolsado. Para nós a satisfação do cliente é o principal objetivo para uma boa experiência! 
    
    </p>     
   
    </div>
    </div>
   </div>
   </div>
   </div>
   </div>
<br/>
<br/>
<br/>
</body>

</html>
