<!DOCTYPE html>
<html lang="pt"
   layout:decorate="~{/layouts/layoutExterno}">
   
<head>
	<meta charset="UTF-8">
	<title>Cadastro de Clientes</title>
	
</head>
<body>
	
	<section layout:fragment="corpo">
	  <div class="alert alert-danger" role="alert">
				  <h4 class="alert-heading">Seja bem-vindo(a) a nossa Sorveteria!</h4>
				  <p>
				  	Sinta-se à vontade para explorar nosso site! Sua presença nos alegra muito.
				  	<span class="badge bg-success">Volte sempre!</span>
				  </p>
				  
				</div>
				<table><tr> <td><img src="/imagens/carro.png"  width="400" height="400"></td>
				
				<td>
	
	<div th:replace="fragments/mensagens"></div>
	
	<center>
	 <form th:action="@{/usuarios/salvar}"  th:object="${usuario}"
	 method="post" style=" padding-top: 10px; padding-bottom:10px; background-color: white;"
	 enctype="multipart/form-data">
	
	 <h3>Cadastro de Cliente</h3>
	 <input type="hidden" th:field="${usuario.id}"/>
	   
	     <div class="row mb-3">
	    <label class="col-sm-2 col-form-label" style="width:50px;">Nome</label>
	    <div class="col-sm-10" >
	      <input type="text" class="form-control" style="width:300px;" th:field="${usuario.nome}">
	    </div>
	    </div>
	        
	   <div class="row mb-3">
	    <label for="inputEmail3" class="col-sm-2 col-form-label" style="width:50px;">Email</label>
	    <div class="col-sm-10">
	      <input type="email" class="form-control"style="width:300px;" th:field="${usuario.email}" id="inputEmail3">
	    </div>
	    </div>
	    
	    <div class="row mb-3">
	    <label for="inputPassword3" class="col-sm-2 col-form-label" style="width:50px;">Senha</label>
	    <div class="col-sm-10">
	      <input type="password" class="form-control"style="width:300px;" th:field="${usuario.senha}" id="inputPassword3">
	    </div>
	    </div>
			
	      <div class="row mb-3">
	    <label class="col-sm-2 col-form-label" style="width:50px;">Tel.</label>
	    <div class="col-sm-10" >
	      <input type="text" class="form-control" style="width:300px;" th:field="${usuario.tel}">
	    </div>
	    </div>
	    
	    Foto:
				
		<input type="file" th:name="file" />
		<input type="hidden" th:field="${usuario.foto.id}" />
	     
	       <div id="butao" class="container">
	    
	     <input type="submit" class="btn btn-primary" value="Cadastrar"/>
	      
	      <input type="submit" class="btn btn-primary" style="text-align:center" value="Cancelar"
	      formaction="/usuarios/cadastro" formmethod="get"/>
	   
	      </div>
	      </div>
	    
	 
	</form>
	 </center>
	 </div>
	
	 </tr></table>
	
	
	
	<div class="profile-area">
	   <div class="container">
	   <div class="row">
	    <div class="col-md-4">
	    <div class="card">
	    <div class="img1"><img src="/imagens/celular.jpg" class="card-img-top" alt=""></div>
	   
	    <div class="main-text">
	    <h2> Site</h2>
	    
	    <p>
	    Este site foi criado especialmete pensando na praticidade do cliente e melhor atendimento, obrigada por usar nossa plataforma estamos felizes pela visita.
	    </p>     
	    
	    </div>
	    </div>
	    
	    
	   </div>
	     <div class="col-md-4">
	    <div class="card">
	    <div class="img1"><img src="/imagens/carrorosa.jpg" class="card-img-top" alt=""></div>
	    
	    <div class="main-text">
	    <h2> Entrega</h2>
	   
	    <p>
	    Seu pedido foi embalado com muito cuidado e refrigerado na temperatura ideal, para que não haja nenhuma danificação no produto a entrega é feita de carro.
	    </p>     
	    
	    </div>
	    </div>
	   </div>
	     <div class="col-md-4">
	    <div class="card">
	    <div class="img1"><img src="/imagens/relogiorosa.jpg" class="card-img-top" alt=""></div>
	   
	    <div class="main-text">
	    <h2> Tempo de espera</h2>
	
	    <p>
	    Sua entrega chegará em no máximo 30 minutos, caso não ocorra seu dinheiro será reembolsado. Para nós a satisfação do cliente é o principal objetivo para uma boa experiência! 
	    
	    </p>     
	   
	    </div>
	    </div>
	   </div>
	   </div>
	   </div>
	   </div>
	<br/>
	<br/>
	<br/>
	
	</section>
</body>

</html>
