<!DOCTYPE html>
<html lang="pt"
	layout:decorate="~{/layouts/layout}">
<head>
	<meta charset="UTF-8">
	<title>Edição de Usuários</title>
	
</head>


<body>
	
	
	<section layout:fragment="corpo">
	<div id="divEditar" class="container" style="padding-top: 10px; padding-bottom:10px;">
	
	<div th:replace="fragments/mensagens"></div>
	
	<div class="container" id="divForm">
	<form th:action="@{/usuarios/editar}" method="get">
		
		<fieldset>
			<legend style="font-weight: bold;">
				Editar Usuário
			</legend>		
		</fieldset>
		<table>
			<!--<tr>
				<td>Id:</td>
				<td>
					<input type="number" id="quantity" name="quantity" min="1" max="10000" th:name="id"/>
				</td>
			</tr>-->
			<tr>
				<td></td>
				<td>	
				<input type="submit" value="Editar"/>
				<input type="submit" value="Cancelar"
						formaction="/usuarios/paginaUsuario" formmethod="get"/>	
				</td>
			</tr>
		</table>
	</form>
	
	<div th:if="${mostrarTodosDados} != null">
	<form th:action="@{/usuarios/salvar}" th:object="${usuario}"
		method="post" style=" padding-top: 10px; padding-bottom:10px;">
		
		<input type="hidden" th:field="${usuario.id}"/>
		
		<table>
			
			<tr>
				<td>Nome</td>
				<td>      
					<input type="text" style="width:250px;" th:field="${usuario.nome}"/>
				</td>
			</tr>
    		<tr>
    			<td>Email</td>
 				 <td>
 				   <input type="email" style="width:250px;" th:field="${usuario.email}" id="inputEmail3"/>
 				</td>
    		</tr>  
  			<tr>
  				<td>Senha</td>
  				<td>
  					<input type="password" style="width:250px;" th:field="${usuario.senha}" id="inputPassword3"/>
  				</td>
  			</tr>
   			<tr>
   				<td>Tel.</td>
   				<td>
   					 <input type="text" style="width:250px;" th:field="${usuario.tel}"/>
   				</td>
   			</tr>
			<tr>
				<td></td>
				<td>
					<input type="submit" value="Salvar edições"/>
					
					<input type="submit" value="Cancelar"
						formaction="/usuarios/paginaUsuario" formmethod="get"/>
				</td>
			</tr>	
		</table>
		
	</form>
	
	</div>
	</div>
</section>
</body>
</html>