<!DOCTYPE html>
<html lang="pt" layout:decorate="~{/layouts/layout}">
<head>
<meta charset="UTF-8">
<title>Remover Pedidos</title>
</head>

<body>

	<section layout:fragment="corpo">
		<div>
			<div th:replace="fragments/mensagens"></div>

			<div id="divForm" class="container"
				style="padding-top: 10px; padding-bottom: 10px;">

				<form th:action="@{/usuarios/remover}" method="get">
					<fieldset>
						<legend style="font-weight: bold;"> Remover Usuário </legend>
					</fieldset>
					<table>
						<!-- <tr>
				<td>Id:</td>
				<td>
					<input type="number" id="quantity" name="quantity" min="1" max="10000" th:name="id"/>
				</td>
			</tr>-->
						<tr>
							<td></td>
							<td><input type="submit" value="Remover" /> <input
								type="submit" value="Cancelar"
								formaction="/usuarios/paginaUsuario" formmethod="get" /></td>
						</tr>
					</table>

				</form>
			</div>
		</div>
	</section>
</body>
</html>