<!DOCTYPE html>
<html lang="pt"
	layout:decorate="~{/layouts/layout2}">
<head>
	<meta charset="UTF-8">
	<title>Início</title>	
</head>
<body>

	
	<section layout:fragment="corpo">
	<div>
			<div class="container">
			<div class="alert alert-danger" role="alert">
			  <h4 class="alert-heading">Seja bem-vindo(a) a nossa Sorveteria!</h4>
			  <p>
			  	Sinta-se à vontade para explorar nosso site! Sua presença nos alegra muito.
			  	<span class="badge bg-success">Volte sempre!</span>
			  </p>
			  
			</div>
			
			<div class="row">
				<div class="col-4">
				
					<ul class="list-group">
						<li class="list-group-item active" aria-current="true">Cardápio</li>
						<li class="list-group-item">Sorvete de Chocolate</li>
						<li class="list-group-item">Sorvete de Morango</li>
						<li class="list-group-item text-truncate">Sorvete de Flocos</li>
						<li class="list-group-item">Milk Shake</li>
						<li class="list-group-item">Sorvete Napolitano</li>
						<li class="list-group-item">Açaí</li>
						<li class="list-group-item">Sorvete de Baunilha</li>
						<li class="list-group-item">Sorvete de Acerola</li>
					</ul>
					
				</div>
				<div class="col-8">
					
					<ul class="nav nav-tabs">
					  <li class="nav-item">
					    <a class="nav-link active" aria-current="page" href="#">Em promoção</a>
					  </li>
					  <li class="nav-item">
					    <a class="nav-link" href="#">Mais vendidos</a>
					  </li>
					  <li class="nav-item">
					    <a class="nav-link" href="#">Outros</a>
					  </li>
					</ul>
					
					<div class="card" style="width: 18rem;">
					  <img src="/imagens/sorvetes2.jpg" class="card-img-top" alt="...">
					  <div class="card-body">
					  <h5 class="card-title">3 sorvetes por 10 reais</h5>
					  <p class="card-text">Sabor delicioso</p>
					  <a href="#" class="btn btn-primary">Ver produto</a>
  					</div>
  					
					</div>
				</div>
			</div>
			
			<br/>
			<br/>
			
			<div id="carouselExampleCaptions" class="carousel carousel-dark slide" data-bs-ride="carousel">
			  <ol class="carousel-indicators">
			    <li data-bs-target="#carouselExampleCaptions" data-bs-slide-to="0" class="active"></li>
			    <li data-bs-target="#carouselExampleCaptions" data-bs-slide-to="1"></li>
			     <li data-bs-target="#carouselExampleCaptions" data-bs-slide-to="2"></li>
			  </ol>
			  <div class="carousel-inner">
			    <div class="carousel-item active">
			      <img src="/imagens/Milk-shake-caseiro.jpg" class="d-block w-100" alt="..." style="width: 60px; height: 600px;">
			      <div class="carousel-caption d-none d-md-block">
			        <h5>Milk Shake</h5>
			      </div>
			    </div>
			    <div class="carousel-item">
			      <img src="/imagens/acai.jpg" class="d-block w-100" alt="..." style="width:60px; height: 600px;">
			      <div class="carousel-caption d-none d-md-block">
			        <h5>Açaí</h5>
			      </div>
			    </div>
			   <div class="carousel-item">
			      <img src="/imagens/morango111.png" class="d-block w-100" alt="..." style="width:60px; height: 600px;">
			      <div class="carousel-caption d-none d-md-block">
			        <h5>Sorvete de Morango</h5>
			      </div>
			    </div>
			   
			  <a class="carousel-control-prev" href="#carouselExampleCaptions" role="button" data-bs-slide="prev">
			    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
			    <span class="visually-hidden">Previous</span>
			  </a>
			  <a class="carousel-control-next" href="#carouselExampleCaptions" role="button" data-bs-slide="next">
			    <span class="carousel-control-next-icon" aria-hidden="true"></span>
			    <span class="visually-hidden">Next</span>
			  </a>
			</div>
			</div>
		<br/>
		<br/>
		
	 <div th:replace="fragments/mensagens"></div>
	
	<div id="divForm" class="container">
	<form th:action="@{/pedidos/salvar}" th:object="${pedido}"
		method="post" style=" padding-top: 10px; padding-bottom:10px;">
		
		<input type="hidden" th:field="${pedido.id}"/>
		<fieldset>
		<legend style=" font-weight: bold;">
			Cadastro de Pedido
		</legend>
		</fieldset>
		
		<table>
			<tr>
				<td>Pedido:</td>
				<td>
					<select th:field="${pedido.tipoPedido}" class="form-select form-select-sm"
										aria-label=".form-select-sm example">
						<option value="">Selecione...</option>
						<option th:each="p : ${pedidos}"
							th:text="${p}" th:value="${p}">
						</option>
					</select>
				</td>
			</tr>
			<tr>
				<td>
					Tipo de pagamento:
				</td>
				<td>
					<select th:field="${pedido.tipoDePagamento}" class="form-select form-select-sm"
										aria-label=".form-select-sm example">
						<option value="">Selecione...</option>
						<option th:each="p : ${tiposDePagamento}"
							th:text="${p}" th:value="${p}">
						</option>
					</select>
				</td>
			</tr>
			<tr>
				<td>Quantidade:</td>
				<td>
					<input type="number" id="quantity" name="quantity" min="1" max="500" th:field="${pedido.quantidade}"/>
				</td>
			</tr>
			<tr>
				<td>Endereço:</td>
				<td>
					<input type="text" th:field="${pedido.endereco}"/> 
				</td>
			</tr>
			<tr>
				<td>Observações:</td>
				<td>
					<input type="text" th:field="${pedido.observacoes}"/>
				</td>
			</tr>
			<tr>
				<td></td>
				<td>
					<input type="submit" value="Cadastrar"/>
					
					<input type="submit" value="Cancelar"
						formaction="/pedidos/" formmethod="get"/>
				</td>
			</tr>	
		</table>
		
	</form>
	</div>
	</div>
	</div>
	<br/>
	<br/>
	</section>
</body>
</html>