<!DOCTYPE html>
<html lang="pt" layout:decorate="~{/layouts/layout}">

<head>
<meta charset="UTF-8">
<title>Página Usuário</title>

</head>
<body>

	<section layout:fragment="corpo">
		<div th:replace="fragments/mensagens"></div>

		<br /> <br /> <br />
		<div class="container"
			th:if="${not #lists.isEmpty(usuariosEncontrados)}"
			style="width: 70%;">
			<table class="table table-striped">
				<tr>
					<th>Foto</th>
					<th>Nome</th>
					<th>Email</th>
					<th>Telefone</th>

				</tr>

				<tr th:each="u : ${usuariosEncontrados}">
					<td>
						<img th:if="${u.foto != null}" 
							th:src="@{/download/} + ${u.foto.id} + '?salvar=false'"
							style="max-height:128px;"/>
					</td>
					<td th:text="${u.nome}"></td>
					<td th:text="${u.email}"></td>
					<td th:text="${u.tel}"></td>
				</tr>

			</table>
		</div>

	</section>
</body>
</html>