<!DOCTYPE html>
<html lang="pt"
	layout:decorate="~{/layouts/layout2}">

<head>
	<meta charset="UTF-8">
	<title>Quem somos?</title>
</head>

<body id="body2">
	<section layout:fragment="corpo">
		<div>
			<div class="profile-area">
				<div class="container">
					<div class="row">
						<div class="col-md-4">
							<div class="card">
								<div class="img1">
									<img src="/imagens/fd.jpg" class="card-img-top" alt="">
								</div>
								<div class="img2">
									<img src="/imagens/profile.jpg" class="card-img-top" alt="">
								</div>
								<div class="main-text">
									<h2>Mírian Andryellen</h2>
									<h6>Estudante do IFRN-João Câmara</h6>
									<p>Cursando Informática, 19 anos e reside em São Miguel do
										Gostoso-RN. Site criado especialmente para a máteria técnica
										de PI dirigida pelo professor Renan de Oliveira.</p>

								</div>
							</div>


						</div>
						<div class="col-md-4">
							<div class="card">
								<div class="img1">
									<img src="/imagens/fd.jpg" class="card-img-top" alt="">
								</div>
								<div class="img2">
									<img src="/imagens/vanessa.jpg" class="card-img-top" alt="">
								</div>
								<div class="main-text">
									<h2>Vanessa Maria</h2>
									<h6>Estudante do IFRN-João Câmara</h6>
									<p>Cursando Informática, 19 anos e reside em Bento
										Fernandes-RN. Site criado especialmente para a máteria técnica
										de PI dirigida pelo professor Renan de Oliveira.</p>

								</div>
							</div>
						</div>
						<div class="col-md-4">
							<div class="card">
								<div class="img1">
									<img src="/imagens/fd.jpg" class="card-img-top" alt="">
								</div>
								<div class="img2">
									<img src="/imagens/renan.jpg" class="card-img-top" alt="">
								</div>
								<div class="main-text">
									<h2>Renan de Oliveira</h2>
									<h6>Professor do IFRN-João Câmara</h6>
									<p>Professor de Programação para Internet, reside em
										Natal-RN. Site criado especialmente para a máteria técnica de
										PI dirigida pelo professor Renan de Oliveira.</p>

								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>
</body>
</html>