<!DOCTYPE html>
<html lang="pt"
	layout:decorate="~{/layouts/layout2}">
<head>
	<meta charset="UTF-8">
	<title>Remover Pedidos</title>
</head>

<body>
	
	<section layout:fragment="corpo">
		<div>
		<div th:replace="fragments/mensagens"></div>
		
		<!-- <div id="divForm" class="container" style="padding-top: 10px; padding-bottom:10px;">
	
		<form th:action="@{/pedidos/remover}" method="get">
			<fieldset>
				<legend  style="font-weight: bold;">
					Cancelar Pedido
				</legend>		
			</fieldset>
			<table>
				<tr>
					<td>Id:</td>
					<td>
						<input type="number" id="quantity" name="quantity" min="1" max="10000" th:name="id"/>
					</td>
				</tr>
				<tr>
					<td></td>
					<td>	
					<input type="submit" value="Remover"/>
						<input type="submit" value="Cancelar"
							formaction="/pedidos/" formmethod="get"/>	
					</td>
				</tr>
			</table>
			
		</form>
		</div> 
	
	apresenta os pedidos do usuário logado com a opção remover-->
	<div class="container"  th:if="${not #lists.isEmpty(pedidosEncontrados)}" style="width: 70%;">
		<table class="table table-striped">
			<tr>
				<th>Tipo Pedido</th>
				<th>Tipo de Pagamento</th>
				<th>Quantidade</th>
				<th>Endereço</th>
				<th>Observações</th>
			</tr>
			
			<tr th:each="u : ${pedidosEncontrados}">
				<td th:text="${u.tipoPedido}"></td>
				<td th:text="${u.tipoDePagamento}"></td>
				<td th:text="${u.quantidade}"></td>
				<td th:text="${u.endereco}"></td>
				<td th:text="${u.observacoes}"></td>
				<td>
					 <a th:href="'/pedidos/remover/' + ${u.id}"
						onclick="if(!confirm('Deseja realmente remover o pedido?')) return false"/>
							Remover 
					</a>
				</td>
			</tr>
		</table>
	</div>
		</div>
	</section>
</body>
</html>